html {
	overflow: hidden;
}

body {

	background-image: url(images/7.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

////////Menu////
.nav{
	list-style: none;
	padding: 10px 0;
	margin: 15px 30px;
	width: 230px;
	opacity: .6;
	position: fixed;
	z-index: 999999;
	
	
	-moz-transition: opacity .3s ease-in-out;
	-webkit-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}

.nav:hover {
	opacity: 1;
}

.nav li {
	display: inline-block;
	height: 50px;
	width: 50px;
	overflow: hidden;
	-moz-transition: width all .2s ease-in-out, height .2s ease-in-out .2s;
}

.nav li:hover{
/*
	width: 200px;
	height: 50px;
	z-index: 10;
*/
}

.nav li a {
	display: block;
	width: 200px;
	height: 40px;
	line-height: 40px;
	background: #bbb;
	margin: 1px;
	color: #fff;
	padding-left: 15px;
	cursor:pointer;
}

.nav li a:hover {
	background: #2fc5ff;
	-moz-transition: background .2s ease-in-out;
	-webkit-transition: background .2s ease-in-out;
	-o-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;
}

.nav li a:first-child {
	font-size: 1.1em;
	height: 50px;
	line-height: 50px;
	position: relative;
	text-indent: 36px;
}

.nav li a:first-child::before {
	content: '';
	position: absolute;
	display: block;
	height: 32px;
	width: 32px;
	top: 9px;
	left: 9px;
}

.main-menu a:first-child::before {
	background-image:url(images/home3.png);
}


h1 {
	text-align: center;
}
.form {
	height: 650px;
	color: white;
	padding-top: 50px;
	font-size: 19px;
	font-weight: 800;
	font-family: sans-serif;

}



.form h1 {
	margin-bottom: 20px;
}

input[type="text"] .message {
	height: 100px;

}

.message {
	display: block;
	margin: 2px;
	background: #ffffff ;
	outline: none;
	width: 500px;
	height: 100px;
	color: #B6B6B6;
	font-family: sans-serif;
	font-size: 18px;
	padding-left: 10px;
	padding-top: 10px;
   
     
}

.message:hover {
	background: #B7EFEC;
	transition: .5s;
	color: #000;
}

.message:focus {
	background: #B7EFEC;
	transition: .5s;
	color: #000;
}

input[type="text"] {
	display: block;
	margin: 2px;
	background: #ffffff;
	outline: none;

	height: 60px;
	color: #B6B6B6;
	font-family: sans-serif;
	font-size: 18px;
	max-width: 500px;
	padding-left: 10px;

     
}

input[type="text"]::hover {
	background-color: #B7EFEC;
}


.send {
	color: white;
	font-family: sans-serif;
	font-weight: 900;
	font-size: 18px;
	text-align: center;
	width: 500px;
	height: 49px;
	background-color: #217E79;
	padding-top: 10px;
	margin-top: 10px;

	padding-left: 10px;
}

.send:hover {
	background-color: #333333;
	transition: .5s;
}

